.page-header {

  .page-title {

    margin: 19px auto;
    color: #3348b8;
    font-family: "TT Commons", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
    text-align: center;

    i {

      margin-right: 14px;

    }

  }

}

.full-width {
  width: 100%;
}

.display-none {
  display: none !important;
}

.flex-col {
  flex-direction: column;
}

.mb-2r {
  margin-bottom: 1.8rem !important;
}

.box-shadow {
  box-shadow: inset 0 1px 0 #efefef;
}

.display-inline {
  display: inline-block !important;
}

.display-none {
  display: none;
}

.dis-tab {
  display: table !important;
}

.dis-flex {
  display: flex;
}

.tab-c {
  display: table-cell !important;
  vertical-align: middle;
}

.post-image {

  cursor: pointer;
  max-height: 255px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  height: 255px;
  width: auto;
  opacity: 0;

}

section {

  &.content {

    &.main-aliexpress-search {

      padding: 40px 80px;

      .row {

        &.search-box {

          padding: 37px 0 0;

        }

      }

      form {

        margin: auto;
        width: 100%;
        padding: 0;
        position: relative;

        input {

          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
          border-radius: 5px 0 0 5px;
          background-color: #ffffff;
          border: none;
          color: #242424;
          font-family: "TT Commons", sans-serif;
          font-size: 18px;
          font-weight: 400;
          line-height: 1;
          padding: 21px 24px;

          @media only screen and (max-width: 610px) {

            border-radius: 5px 5px 0 0;

          }

        }

        .input-group {
          .aliexpress-fa-icon {
            position: absolute;
            left: 35px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 5;
            color: #734cd1;
          }

          .aliexpress-keywords {
            padding: 0 65px 0 25px;
            line-height: 1;
            height: 60px;
            color: #000;
            width: 100%;
          }

          .form-control {
            padding: 0 0 0 55px;
            line-height: 60px;
            min-height: 60px;
            height: 100%;
            color: #000;

            &.first-child-element {
              border-radius: 5px 5px 0 0;
              border-bottom: 1px solid #f5f4f9;
            }

            &.second-child-element {
              border-radius: 0 0 5px 5px;
            }

            &::placeholder {
              color: #868686;
            }

            &:hover {
              z-index: 1;
            }
          }

          @media only screen and (max-width: 610px) {

            padding-right: 15px !important;

          }

        }

        .check-box {
          input[type="checkbox"] {
            display: none;
          }

          label {
            color: #000;
            cursor: default;
            font-weight: normal;
            line-height: 30px;
            padding: 0 15px;
            vertical-align: middle;
          }

          label:before {
            content: " ";
            color: white;
            display: inline-block;
            font: 14px/24px FontAwesome;
            margin-right: 15px;
            position: relative;
            text-align: center;
            text-indent: 0;
            width: 24px;
            height: 24px;
            background-color: #734cd1;
            border-image: initial;
            border-radius: 3px;
            vertical-align: middle;
          }

          input:checked + label:before {
            content: "\f00c";
          }

          input:disabled + label:before {
            background: #eee;
            color: #aaa;
          }
        }

        button {

          padding: 21.5px 24px;
          width: 100%;
          border-radius: 0 5px 5px 0;
          background-color: #734cd1;
          color: #ffffff;
          font-family: "TT Commons - Demi Bold", sans-serif;
          font-size: 17px;
          font-weight: 400;
          line-height: 1;
          cursor: pointer;
          box-shadow: none;
          border: none;

          &:hover {

            background-color: #643bc6 !important;

          }

          @media only screen and (max-width: 610px) {

            border-radius: 0 0 5px 5px;

          }

        }

        .btn-column {

          max-width: 175px;

          @media only screen and (max-width: 610px) {

            -webkit-box-flex: 0;
            -webkit-flex: 0 0 100%;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
            padding-left: 15px !important;
          }
        }
      }
    }

    .image-block {
      display: block;
      position: relative;
      border-radius: 10px 10px 0 0;

      .bg-wrap {

        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        position: relative;
        z-index: 2;
        text-align: center;
        border-radius: 10px 10px 0 0;

      }

      &:after {

        content: '';
        position: absolute;
        box-shadow: 0 1px 0 #efefef;
        background-color: rgba(115, 76, 209, .35);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        opacity: 0;
        border-radius: 10px 10px 0 0;

      }

      .button-block {
        opacity: 0;
        z-index: -1;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 0;
        bottom: 0;
        width: 100%;
        color: #734cd1;
        text-align: center;

        > div {

          text-align: center;

          a {
            &:nth-child(1) {
              margin: 0 auto 15px;
            }

            &:nth-child(2) {
              margin: 0 auto 15px;
            }
          }
        }

        .detail-link,
        .search-by-image-link,
        .shopify-store-link {

          max-width: 195px;
          display: block;
          height: 50px;
          font-family: "TT Commons - Demi Bold", sans-serif;
          font-size: 16px;
          font-weight: 400;
          line-height: 1.2;
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
          border-radius: 5px;
          background-color: #ffffff;
          padding: 1rem 1rem;
          margin: 0 auto;
          &:hover {
            color: #fff;
          }
        }
      }

      &:hover {

        img {

          position: relative;
          z-index: 5;

        }

        .button-block {

          z-index: 15;
          opacity: 1;
          transition: all linear .15s;

          .detail-link,
          .search-by-image-link,
          .shopify-store-link {

            &:hover {

              background-color: #734cd1;
              transition: all linear .15s;

            }

          }

        }

        &:after {

          opacity: 1;
          z-index: 10;
          transition: all linear .15s;

        }
      }
    }

    .top-link {
      border-radius: 0 0 10px 10px;

      p {
        padding: 0 !important;
        color: #242424;
        font-family: "TT Commons - Demi Bold", sans-serif;
        font-size: 18px;
        font-weight: 400;
        text-transform: capitalize;
        border-radius: 0 0 10px 10px;
        max-height: 55px;
        line-height: 55px;
        height: 100%;
      }
    }
  }
}

.aliexpress-sort-container,
.aliexpress-ship-filter-container,
.aliexpress-reset-filter {

  @media screen and (max-width: 600px){

    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    padding: 15px;

  }

}


.aliexpress-sort-container,
.aliexpress-ship-filter-container {

  label {

    display: inline-block;
    max-width: 100%;
    margin-bottom: 0;
    vertical-align: middle;
    padding-right: 1px;
    font-family: "TT Commons - Demi Bold", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1;
    color: #242424;

  }

  .dropdown {

    display: inline-block;

    .btn {

      font-family: "TT Commons - Demi Bold", sans-serif;
      font-size: 17px;
      font-weight: 400;
      line-height: 1;
      color: #734cd1;
      background: transparent;
      border: none;
      padding: 0;

      &:after {

        display: inline-block;
        margin-left: 9px;
        vertical-align: middle;
        content: "";
        box-sizing: border-box;
        height: 8px;
        width: 8px;
        border-style: solid;
        border-color: #734cd1;
        border-width: 0 1px 1px 0;
        transform: rotate(45deg);
        margin-top: -7px;

      }

    }

  }

}

.aliexpress-out-msg {

  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;

}

.aliexpress-filters {

  opacity: 0;
  padding-bottom: 26px;

}

.aliexpress-filter-result {

  text-align: right;

  @media screen and (min-width: 1200px) {

    max-width: 62%;

  }

  @media screen and (max-width: 1200px) {

    padding: 15px;
    text-align: center;

  }

}

.aliexpress-search-by-image-url {

  .aliexpress-filter-result {

    @media screen and (min-width: 1200px) {

      max-width: 40%;

    }

  }
}

.aliexpress-filter-result-text {

  margin-bottom: 0;
  color: #737373;
  font-family: "TT Commons", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 1;
  display: inline-block;

}

.aliexpress-preloader {

  display: none;
  color: #6381e5;

}

.aliexpress-more-result,
.aliexpress-display-result,
.aliexpress-no-results,
.aliexpress-results-error,
.aliexpress-results-end,
.aliexpress-reset-filter {

  display: none;

}

.file-input-label {

  position: absolute;
  right: 0;
  margin-bottom: 0;
  padding: 15px;
  line-height: 1;
  height: 100%;
  pointer-events: auto;
  cursor: pointer;
  opacity: 1;

  &.disabled {

    pointer-events: none;
    cursor: default;
    opacity: 0.5;

  }

  @media screen and (max-width: 610px){

    right: 15px;

  }

  i {

    color: #734cd1;
    font-size: 36px;

    &:hover {

      cursor: pointer;

    }

  }

}

#file-input {

  visibility: hidden;
  width: 0;
  min-width: 0;
  max-width: 0;
  padding: 0;
  margin: 0;
  height: 0;
  font-size: 0;

}

.element-item {

  padding-bottom: 30px;

  .bt-1 {
    border-top: 1px solid #f5f4f9;
  }

  .line-3 {
    height: 3em;
  }

  .line-6 {
    height: 6em;
  }


  .post-text {


    padding: 0 5px;
    margin: 0;

    .shipping {
      font-family: "TT Commons - Demi Bold", sans-serif;
      font-size: 15px;
      font-weight: 400;
      line-height: 1.2;
      color: black;
    }

    &.empty {

      padding: 0;

    }


  }

  .post-text-inner {

    height: 78px;
    overflow: hidden;
    color: #242424;
    font-family: "TT Commons", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    display: block;
    text-decoration: none;

    &:hover {

      color: #3348b8;

    }

  }

  .social-actions-block {

    padding: 5px 15px 5px 15px;

  }

  .social-block {

    border-bottom: 1px solid #efefef;

  }

  .social-actions {

    color: #242424;
    display: inline-block;
    font-family: "TT Commons - Demi Bold", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1;

    &.price-container {

      text-align: center;
      display: block;

      .fa-dollar-sign {
        font-size: 22px;
        //padding-right: 5px;

      }

      .price {
        //padding-top: 5px;
      }

    }

    &.ratings {
      //padding-top: 5px;
      text-align: right;
      display: block;
      color: #fe7633;

      .fa {
        font-size: 13px;
      }
    }

    &.orders-container {

      text-align: center;
      display: block;

      .orders {
        //padding-top: 5px;

      }

      .fa-shopping-bag {
        font-size: 22px;
        padding-right: 5px;
        color: gray;
        width: 20px;
      }
    }
  }
}

.box {

  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  background-color: #ffffff;

  .social-actions {

    &.price-container {
      color: #fe7633;
    }

    &.ratings {
      color: #fe7633;
    }

  }

  .best {
    display: none;
  }

  .cookied-container {

    padding-top: 1rem;
    padding-left: 0;
    text-align: right;

    .fa {
      color: #734cd1;
      font-size: 22px;
      cursor: pointer;
    }

  }

}

.top-block {

  padding: 10px 0.6em;
  position: relative;

  > div {

    &:nth-of-type(1) {

      @media only screen and (min-width: 1200px) and (max-width: 1270px) {

        padding-right: 0;

      }

      @media only screen and (min-width: 768px) and (max-width: 890px) {

        padding-right: 0;

      }

      @media only screen and (min-width: 576px) and (max-width: 620px) {

        padding-right: 0;

      }

      @media only screen and (min-width: 320px) and (max-width: 360px) {

        padding-right: 0;

      }

    }

  }

}

#pageup {
  position: fixed;
  right: 40px;
  bottom: 60px;
  width: 48px;
  height: 48px;
  display: none;
  cursor: pointer;
  z-index: 999;

  .fa-caret-square-o-up {
    font-size: 48px;
    color: #734cd1;
    opacity: 0.6;

    &:hover{

      opacity: 1;

    }
  }
}

@media only screen and (max-width: 992px) {

  section.content.main-aliexpress-search {
    padding: 60px 0;
  }
}

@media only screen and (max-width: 1200px){
  .aliexpress-reset-filter,
  .aliexpress-sort-container,
  .aliexpress-ship-filter-container,
  .aliexpress-filter-result {
    text-align: center !important;
  }
}
